

.greenCell {
    background-color: green;
  }

.lightGreenCell {
    background-color: lightgreen;

  }

.lightRedCell {
    background-color: #FFCCCB;
  }

.redCell {
    background-color: red;
  }